@* Comentario: Layout maestro compartido por todas las vistas *@
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Anotter Webpage</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    <nav class="topbar">
        <div class="nav-left">
            <a class="navlink" asp-controller="Home" asp-action="Index">Inicio</a>
            <a class="navlink" asp-controller="Home" asp-action="Privacy">Servicios</a>
        </div>

        <div class="nav-center">
            <a asp-controller="Home" asp-action="Index">
                <img class="logo" src="~/images/ottie.png" alt="Logo">
            </a>
        </div>

        <div class="nav-right">
            <a class="navlink" asp-controller="Colaborar" asp-action="Index">Colaborar</a>
            <a class="btn-contact" asp-controller="Calendar" asp-action="Index">Agendar</a>
        </div>
    </nav>
</header>

    <main class="container">
        @RenderBody()
    </main>
    <footer>
        <span>&copy; @DateTime.Now.Year - MvcDemo</span>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
