@* Comentario: Layout maestro compartido por todas las vistas *@
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Anotter Webpage</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="topbar">
        <div class="nav-left">
            <a class="navlink" href="/Home/Index#servicesDiv">Servicios</a>
            <a class="navlink" href="/Home/Index#paquetesDiv">Paquetes</a>
        </div>

        <div class="nav-center">
            <a href="/Home/Index#sobreOttie">
                <img class="logo" src="~/images/ottie.png" alt="Logo">
            </a>
        </div>

        <div class="nav-right">
            <a class="navlink" asp-controller="Colaborate" asp-action="Index">Colaborar</a>
            <a class="btn-contact" asp-controller="Calendar" asp-action="Index">Agendar</a>
            
            <partial name="_LoginPartial" />
        </div>
    </nav>
</header>

    <main class="container">
        @RenderBody()
    </main>
    <footer>
        <span>&copy; @DateTime.Now.Year - ottie</span>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
