@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link">Hola @UserManager.GetUserName(User)!</a>
    <form asp-area="Identity" asp-page="/Account/Logout" method="post">
        <button class="btn btn-link nav-link" type="submit">Logout</button>
    </form>
}
