@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="username">¡Hola @UserManager.GetUserName(User)!</a>
    <form asp-area="Identity" asp-page="/Account/Logout" method="post">
        <button style="border: none; margin:0px;" class="btn-contact" type="submit">Log Out</button>
    </form>
}
