@{
    ViewData["Title"] = "Inicio";
}
<div class="meetConnie">
    <div class="info fill">
        <img src="images/mainPic.jpg"/>
    </div>
    <div class="info">
        <h3>Conoce a Connie:</h3>
        <p>Lic. Nutrición Clinica</p>
        <p>Mtra. Salud Pública</p>
        <p>Dra. Investigación Interdisciplinaria y Salud</p>
        <a class="btn-contact " href="#sobremi">Sobre mi</a>
    </div>
</div>