@{
    ViewData["Title"] = "Inicio";
}
<div class="meetConnie">
    <div class="info fill">
        <img src="images/mainPic.jpg"/>
    </div>
    <div class="info" style="background-image:url('@Url.Content("~/images/meetConnieBg.png")'); background-size: cover; object-fit: cover">
        <h3>Conoce a Connie:</h3>
        <p>Lic. Nutrición Clinica</p>
        <p>Mtra. Salud Pública</p>
        <p>Dra. Investigación Interdisciplinaria y Salud</p>
        <a class="btn-contact " href="#sobremi">Sobre mi</a>
    </div>
</div>


<div>    
    <h3 style="text-align: center">Servicios</h3>
</div>
<div class="services">
    <div class="service s1">
        <img src="images/mainPic.jpg"/>
        <p>Consulta pediátrica</p>
    </div>
    <div class="service s2">
        <img src="images/mainPic.jpg"/>
        <p>Nutrición en TEA y TDAH</p>
    </div>
    <div class="service s3">
        <img src="images/mainPic.jpg"/>
        <p>Perfil sensorial</p>
    </div>
</div>


<div>    
    <h3 style="text-align: center">Material</h3>
</div>
<div class="materiales">
    <div class="material">
        <div class="service">
            <img src="images/mainPic.jpg"/>
            <p>Plan nutricional</p>
        </div>
        <div class="service">
            <img src="images/mainPic.jpg"/>
            <p>Manuales y equivalencias</p>
        </div>
    </div>
    <div class="material">
        <div class="service">
            <img src="images/mainPic.jpg"/>
            <p>Libro de colorear</p>
        </div>
        <div class="service">
            <img src="images/mainPic.jpg"/>
            <p>Libro de colorear</p>
        </div>
    </div>
</div>


<div>    
    <h3 style="text-align: center">Sobre mi</h3>
</div>
<div id="sobremi" class="aboutme">
    <div class="info" style="background-image:url('@Url.Content("~/images/meetConnieBg.png")'); background-size: cover; object-fit: cover">
        <h3>Nutriologa Connie Lopez</h3>
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
    </div>
    <div class="info fill">
        <img src="images/mainPic.jpg"/>
    </div>
</div>


<div>    
    <h3 style="text-align: center">Sobre mi marca: Ottie</h3>
</div>
<div class="ottie">
    <div>
        <p>Origen de Ottie</p>
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
    </div>
</div>