@{
    ViewData["Title"] = "Inicio";
}

<div class="meetConnie">
    <div class="info fill">
        <img src="images/mainPic.jpg"/>
    </div>
    <div class="info" style="background-image:url('@Url.Content("~/images/meetConnieBg.png")'); background-size: cover; object-fit: cover">
        <h3>Conoce a Connie:</h3>
        <p>Lic. Nutrición Clinica</p>
        <p>Mtra. Salud Pública</p>
        <p>Dra. Investigación Interdisciplinaria y Salud</p>
        <a class="btn-contact " href="#sobremi">Sobre mi</a>
    </div>
</div>


<div>    
    <h3 style="text-align: center;background-color: lavenderblush;">Servicios</h3>
</div>
<div class="services">
    <div class="service s1">
        <img src="images/consul1.jpeg"/>
        <p>Consulta pediátrica</p>
    </div>
    <div class="service s2">
        <img src="images/consul2.jpeg"/>
        <p>Nutrición en TEA y TDAH</p>
    </div>
    <div class="service s3">
        <img src="images/consul3.jpeg"/>
        <p>Perfil sensorial</p>
    </div>
</div>


<div>    
    <h3 style="text-align: center;background-color: aliceblue;">Material</h3>
</div>
<div class="materiales">
    <div class="material">
        <div class="materialImg">
            <img src="images/consul4.jpeg"/>
            <p>Plan nutricional</p>
        </div>
        <div class="materialImg">
            <img src="images/consul5.jpeg"/>
            <p>Manuales y equivalencias</p>
        </div>
    </div>
    <div class="material">
        <img style="width: 100%" src="images/nutriottie.PNG"/>
    </div>
    <div class="material">
        <div class="materialImg">
            <img src="images/consul6.jpeg"/>
            <p>Toma de medidas</p>
        </div>
        <div class="materialImg">
            <img src="images/coloringbook.jpeg"/>
            <p>Libro de colorear</p>
        </div>
    </div>
</div>


<div>    
    <h3 id="sobremi" style="text-align: center;background-color: #e4dced;">Sobre mi</h3>
</div>
<div class="aboutme">
    <div class="info" style="background-image:url('@Url.Content("~/images/meetConnieBg.png")'); background-size: cover; object-fit: cover">
        <h3>Nutriologa Connie Lopez</h3>
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
    </div>
    <div class="info fill">
        <img src="images/aboutconnie.jpeg"/>
    </div>
</div>


<div>    
    <h3 style="text-align: center;background-color: #f6c9be">Sobre mi marca: Ottie</h3>
</div>
<div class="ottie">
    <div>
        <p>Origen de Ottie</p>
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
    </div>
    <div class="ottiesrow">
        <img src="images/ottie1.PNG"/>
        <img src="images/ottie2.PNG"/>
        <img src="images/ottie3.PNG"/>
        <img src="images/ottie4.PNG"/>
        <img src="images/ottie5.PNG"/>
        <img src="images/ottie6.PNG"/>
        <img src="images/ottie7.PNG"/>
        <img src="images/ottie8.jpg"/>
        <img src="images/ottie9.PNG"/>

    </div>
</div>