@{
    ViewBag.Title = "Error al enviar";
    Layout = "_Layout";
}

<div style="margin-top:3rem; text-align:center;">
    <h2 style="color:#E53935;">Hubo un problema al enviar tu mensaje</h2>
    <p>Ocurrió un error al intentar enviar el correo.<br>
        Por favor intenta más tarde.</p>

    <img src="~/images/ottieError.PNG" style="width:220px; margin-top:1rem;" />

    <div style="margin-top:2rem;">
        <a class="btn-contact" href="/Colaborate/Index">Volver al formulario</a>
    </div>
</div>