@{
    ViewBag.Title = "Mensaje enviado";
    Layout = "_Layout";
}

<div style="margin-top:3rem; text-align:center;">
    <h2 style="color:#4CAF50;">¡Solicitud enviada correctamente!</h2>
    <p>Gracias por ponerte en contacto con nosotros 🧡<br>Te responderemos muy pronto.</p>

    <img src="~/images/ottieFan.PNG" style="width:250px; margin-top:1rem;" />

    <div style="margin-top:2rem;">
        <a class="btn-contact" href="/">Volver al inicio</a>
    </div>
</div>